# Virtuelle Umgebungen
env/
venv/
.venv/

# Python Caches & Artefakte
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage

# Build-Artefakte des Python-Packages (NICHT die dist/*.tar.gz löschen!)
build/
*.egg-info/

# Lokale IDE-Einstellungen
.vscode/
.idea/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db